.header {
    background-image: "../images/bee.jpg";
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    font-size: 20px;
    font-style: italic;
}